@import "./imports.css";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.container {
  padding: 0;
  width: 94%;
  margin: 0 auto;
  /* For small screens (sm breakpoint) */
  @media (max-width: 640px) {
    .container {
      max-width: 100%;
    }
  }
  /* For medium screens (md breakpoint) */
  @media (min-width: 641px) and (max-width: 1024px) {
    .container {
      width: 92%;
      max-width: 100%;
    }
  }
  /* For large screens (lg breakpoint) */
  @media (min-width: 1025px) {
    .container {
      width: 90%;
      max-width: 1080px;
    }
  }
}
.main-container {
  padding: 0;
  width: 90%;
  margin: 0 auto;
}

/* For medium screens (md breakpoint) */
@media (min-width: 641px) and (max-width: 1024px) {
  .main-container {
    width: 75%;
    max-width: 100%;
  }
}
/* For large screens (lg breakpoint) */
@media (min-width: 1025px) {
  .main-container {
    width: 65%;
    max-width: 1080px;
  }
}
/* For large screens (lg breakpoint) */
@media (min-width: 1325px) {
  .main-container {
    width: 55%;
    max-width: 1080px;
  }
}
.intro-wrapper {
  background: url(/grapesonvine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 3% 0;
  min-height: 50vh;
}
.splash-red {
  opacity: 0.88;
}
html {
  font-size: 16px;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "proxima-nova-r", sans-serif;
}
.disclaimer-fade {
  background-color: rgba(57, 4, 22, 0.75);
}
p {
  line-height: 1.5;
}
.gradient-bg {
  background: #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(253, 246, 238, 1) 100%
  );
}
