@font-face {
  font-family: "proxima-nova-r";
  src: url("https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "proxima-nova-i";
  src: url("https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regularit-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "proxima-nova-b";
  src: url("https://ucdcdn.azureedge.net/public/media/fonts/proximanova-bold-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "ryman";
  src: url("https://ucdcdn.azureedge.net/public/media/fonts/ryman-eco-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@theme {
  --color-primary: rgba(88, 10, 36, 1); /* solid */
  --color-primary-dark: rgba(65, 7, 27, 1); /* darker */
  --color-primary-light: rgba(134, 15, 55, 1); /* lighter */
  --color-bg: rgba(253, 246, 238, 1); /* background */
  --color-primary-f: rgba(31, 31, 31, 0.99);
  --color-secondary-f: rgba(31, 31, 31, 0.7);
  --color-tertiary-f: rgba(31, 31, 31, 0.48);
}
